/* Hero Section */

.hero{

display:flex;

justify-content:space-between;

align-items:center;

padding:80px 8%;

min-height:90vh;

}

.hero-text{

width:50%;

}

.hero-text h1{

font-size:60px;

line-height:1.2;

margin-bottom:20px;

color:#1d1d1d;

}

.hero-text p{

font-size:20px;

line-height:1.8;

margin-bottom:35px;

color:#555;

}

.hero-btn{

display:inline-block;

background:#2E7D32;

color:white;

padding:18px 40px;

border-radius:40px;

text-decoration:none;

font-size:18px;

font-weight:600;

}

.hero-btn:hover{

background:#1B5E20;

}

.hero-image{

width:45%;

}

.hero-image img{

width:100%;

border-radius:20px;

}